extends layout

block content
  div(style="display: flex; justify-content: center; align-items: center; height: 100vh; flex-direction: column;")
    a(href="/order" style="margin-bottom: 10px;") 주문하러 가기
    a(href="/orderitem" style="margin-bottom: 10px;" ) 메뉴항목 추가하기
    a(style="margin-bottom: 10px;") 판매목록과 가격
    a(style="margin-bottom: 10px;") 주문현황
