block content
div(style="display: flex; justify-content: center; align-items: center; height: 100vh; flex-direction: column;")
    h1(style="display: flex; justify-content: center;") 이 페이지는 메뉴항목을 추가하기 위한 페이지입니다.
    input(type="text" placeholder="메뉴이름을 작성해주세요" style="margin-bottom: 10px; padding: 5px; width: 200px;")
    input(type="text" placeholder="가격을 입력해주세요" style="margin-bottom: 10px; padding : 5px; width: 200px;")
    form(action="#")
        label(for="lang"  style="margin-right : 5px;") 카테고리
        select(name="카테고리들" )   
            option(value="카페") 카페
            option(value="카페") 차
            option(value="카페") 음료
            option(value="카페") 제과
            option(value="카페") 상품
            option(value="카페") 세트메뉴
            option(value="카페") 상품권
            option(value="카페") 무선인터넷
    button(style="padding: 5px 10px;") 메뉴항목 추가
